@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style-type: none;
    padding: 20px;
}

.nav-links li a {
    padding: 20px;
}

.date {
    text-align: right;
    padding: 10px 20px;
    font-weight: bold;
}